.logo {
  margin-left: 6%;
  width: 15%;
}
.dropdown {
  margin-left: 15%;
  float: right;
  margin-top: 2%;
}
.cardscharacters {
  padding: 2px;
  border: 1px solid rgb(170, 170, 61);
}
.cardsplanets {
  padding: 2px;
}
.container-fluid {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
h1 {
  margin-left: 10px;
  color: rgb(170, 170, 61);
  border: 1px solid;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}
.card-body {
  padding: 0px;
}
.card-title {
  color: rgb(170, 170, 61);
}
.btnone {
  width: 70%;
  padding: 0px;
  font-size: 15px;
  border: 1px black;
  height: 25px;
}
.btntwo {
  font-size: 15px;
  float: right;
  margin-top: -2px;
  margin-right: 4px;
  color: rgb(170, 170, 61);
}
.card-text {
  margin: 0px;
  text-align: center;
}
p {
  margin: 0px;
}
h5 {
  text-align: center;
}
.info {
  width: 40%;
  margin: auto;
}
.charactername {
  text-align: center;
}
.footer {
  margin-bottom: 0px;
}
.description {
  text-align: center;
  margin-top: 6px;
  font-size: 16px;
}
.none {
  text-align: center;
}
.container {
  padding: 0px;
}
.characterrow {
  margin: 0px;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}
.planetsrow {
  margin: 0px;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}
.starshipsrow {
  margin: 0px;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
}
.col-2 {
  text-align: center;
  padding: 0px;
}
.navbar {
  margin: 0px;
}
.line {
  border-bottom: 2px solid rgb(170, 170, 61);
  display: block;
  margin-top: 5px;
}
.starshipsrow .col-2 {
  margin-left: -5px;
}
.favoritescircle {
  width: 70px;
  height: 50px;
  background-color: black;
  margin-left: 5px;
  font-size: 13px;
}
.trash{
  font-size:10px;
}
.charactertitle{
  margin-top: 15px;
}
