.info {
    width: 40%;
    margin: auto;
    color:white;
}
.name{
    text-align: center;
}
.col-2 {
    text-align: center;
    padding: 0px;
}

.line {
    border: 2px solid rgb(170, 170, 61);
    display: block;
    margin-top: 5px;
}